---
// Componente Contact
---

<section id="contacto" class="py-20 bg-light text-primary">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-4xl md:text-5xl font-serif font-light text-primary mb-6">Contacto</h2>
    <div class="w-24 h-px bg-primary mx-auto mb-8"></div>
    <p class="text-xl text-gray-500 mb-12 leading-relaxed">
      ¿Tienes un proyecto en mente? Me encantaría colaborar contigo para crear algo extraordinario.
    </p>
    <a 
      href="mailto:contacto@ejemplo.com"
      class="rounded-full inline-flex items-center bg-primary hover:bg-light  text-light hover:text-primary px-8 py-3 text-lg font-medium transition-all duration-1000 transform hover:scale-105"
    >
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 4.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
      </svg>
      Enviar Mensaje
    </a>
  </div>
</section>
