---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Projects from '../../components/Projects.astro';
import Knowledge from '../../components/Knowledge.astro';
import Skills from '../../components/Skills.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/global.css';
---

<Layout title="Portafolio - Desarrollador Web">
  <Navigation />
  <main>
    <Hero />
    <About />
    <Projects />
    <Knowledge />
    <Contact />
  </main>
  <Footer />
</Layout>
